doctype html
html(lang='en-US')
  head
    meta(charset='UTF-8')
    title ChuzeMoto | BikeFit
    link(rel='stylesheet', type='text/css', href='assets/css/reset.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css', integrity='sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M', crossorigin='anonymous')
    link(rel='stylesheet', type='text/css', href='https://bootswatch.com/3/united/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='assets/css/style.css')
    script(src='https://www.gstatic.com/firebasejs/4.4.0/firebase.js')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
  body
    .row.topDiv
      header.col-sm-12.col-xl-12
        h1#title.text-center ChuzeMoto BikeFit
        h4#slogan.header-text.text-center Your Perfect Motorcycle Fit
      .container
        #textArea.col-sm-12.col-xl-12.text-center
          p
            | Select your inseam using the box below!
        #inputArea.col-sm-12.col-xl-12
          form#bikeform.text-center
            input#userInput(type='number', required='', min="20", max="50", placeholder='0')
            select#inlineFormCustomSelect.custom-select.mb-2.mr-sm-2.mb-sm-0
              option(selected='', value='default') Inches
            button#submit-btn.btn(type='submit') Submit
            span#errorText
    block content
    h1 #{title}
      h1 #{name}
      h1 #{make}
      h1 #{category}
      h1 #{hp}
      h1 #{height}

      ul
        each motorcycle, i in motorcycles
              ol= "name: "+ motorcycle.name
              ol= "make: "+ motorcycle.make
              ol= "category: "+ motorcycle.category
              ol= "horsepower: "+ motorcycle.hp
              ol= "height: "+ motorcycle.height
              br
    block content
      h1 hello testing
    .row
      #bikeArea.col-sm-12.col-lg-12.text-center
    .row
      #bikeArea.col-sm-12.col-lg-12.text-center
      //h1#{motorcycles}
      //form(method='POST', action='/aricles/add')
        //#form-group
          //label Title:
          //input.form-control(name='title', type='text')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    script(type='text/javascript', src='assets/javascript/app.js')
