extends layout

block content
  h1 #{name}
  h1 #{make}
  h1 #{category}
  h1 #{hp}
  h1 #{height}
  ul
    each motorcycle, i in motorcycles
      li= motorcycle.name
      li=motorcycle.make
      li=motorcycle.category
      li=motorcycle.hp
      li=motorcycle.height
